{% if post.tag %}
  {% assign tag_display = post.tag %}
{% else %}
  {% assign tag_display = "" %}
{% endif %}

{% if post.research_areas %}
  {% assign areas_joined = post.research_areas | join: " " %}
{% else %}
  {% assign areas_joined = "" %}
{% endif %}

<li data-areas="{{ areas_joined }}">
  <span class="venue-tag">{{ tag_display }}</span> <strong>{{ post.title }}.</strong>
  {% if post.paperurl %}<a href="{{ post.paperurl }}">[PDF]</a>{% endif %}
  {% if post.codeurl %}<a href="{{ post.codeurl }}">[Code]</a>{% endif %}
  {% if post.extra_links %}
    {% assign links = post.extra_links | split: "|" %}
    {% for link in links %}
      {% assign parts = link | split: "~>" %}
      {% if parts.size == 2 %}
        <a href="{{ parts[1] }}">[{{ parts[0] }}]</a>
      {% endif %}
    {% endfor %}
  {% endif %}
  <br />
  {{ post.authors }}
  <br />
  <i>{{ post.venue }}</i>
  {% if post.doi %}
    <br />
    <a href="{{ post.doi }}">{{ post.doi }}</a>
  {% endif %}
</li>
